.socialLinks {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 10;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: 20px;
}

.list li:last-of-type {
  margin-bottom: 30px;
}

.list li a {
  padding: 10px;
  color: var(--text-secondary);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.list li a:hover {
  color: var(--accent);
  transform: translateY(-3px);
}

.list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--text-secondary);
}

.email {
  position: fixed;
  bottom: 0;
  right: 40px;
  z-index: 10;
}

.email a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1em;
  writing-mode: vertical-rl;
  color: var(--text-secondary);
  transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.email a:hover {
  color: var(--accent);
  transform: translateY(-3px);
}

.email::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0 auto;
  background-color: var(--text-secondary);
}

@media (max-width: 1080px) {
  .socialLinks {
    left: 20px;
  }

  .email {
    right: 20px;
  }
}

@media (max-width: 768px) {
  .socialLinks,
  .email {
    display: none;
  }
} 